[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jrc"]
	path = jrc
	url = https://github.com/anders-biostat/jrc
[submodule "sleepwalk"]
	path = sleepwalk
	url = https://github.com/anders-biostat/sleepwalk
